@import url(https://fonts.googleapis.com/css?family=Griffy:regular);

body {
    background-color: #0e0d0d;
    opacity: 80%;
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}
/* -------------Main------------------ */
/* ---------------------------------- */


/* ---------------------------------- */
/* -------------Landing-------------- */
.image-container {
    width: 60%;
    margin: auto;
    padding-right: 50px;
    border: 2px solid #4e4944;
    box-shadow: 0 0 40px rgba(254, 233, 40, 0.2);
}

.image-container img {
    width: 100%;
}
/* -------------Landing--------------- */
/* ---------------------------------- */


/* ----------------------------------- */
/* -------------Nav Bar--------------- */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 2px solid #b8d14b;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #ff9b3e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #75108b;
}

.active {
    text-decoration-color: #75108b;
}

a {
    color: #fdf7f7;
    text-decoration: none
}

a:hover {
    color: hwb(303 51% 12%);
}

nav {
    background-color: #ffa500;
    border-bottom: 5px solid rgb(171, 26, 161);
    padding: 16px;
    padding-left: 15px;
}

nav a {
    color: 0a0a09f7;
}

nav a:hover {
    color: yellow;
}
/*------------- Nav Bar -------------*/
/* --------------------------------- */


/*--------------------------------- */
/* -------------Grid--------------- */
img {
    width: 100%;
}

/* .......Landing page/title/Spooky Little Developer's Monster Creations .......*/
h1 {
    text-align: center;
    color: #e30cd4;
    font-family: 'Griffy', cursive;
    font-size: 50px;
    font-weight: 100;
}

/* ...............details/about/This is Halloween ...............................*/
h2 {
    text-align: center;
    color: #6de30c;
    font-family: 'Griffy', cursive;
    font-size: 30px;
    font-weight: 100;
}

/* ...............details/about/grid-container...............................*/
.grid-container {
    display: grid;
    margin: 15px;
    padding: 25px;
    grid-template-columns: 1fr 1fr 1fr;
}

/* ..........details/about/grid-items/animation............................... */
.grid-item {
    transition: all 0.01s linear;
    margin: 35px;
    padding: 15px;
    border: 4px solid #b8d14b;
    border-radius: 20px;
    box-shadow: 10px 4px #e286f7c9;
    position: relative;
}

/* ..........detailsThis is Halloween grid-item1...............................*/
.grid-item1 {
    transition: all 0.01s linear;
    margin: 35px;
    padding: 15px;
    border: 4px solid #b8d14b;
    border-radius: 20px;
    box-shadow: 10px 4px #e286f7c9;
    position: relative;
    color: #0aa021;
}

/* ..........details/about/grid-item2, box & forms................................*/
.grid-item2 {
    transition: all 0.01s linear;
    margin: 35px;
    padding: 15px;
    border: 4px solid #b8d14b;
    border-radius: 20px;
    box-shadow: 10px 4px #e286f7c9;
    position: auto;
    color: #ee2bc0;
}

/* ............grid hover- details/about & index...................................*/
.grid-item:hover {
    top: 8px;
    left: 2px;
    box-shadow: 15px 15px #f8a408b3;
}
/* -------------Grid---------------- */
/*-----------------------------------*/


/*..................................*/
/* -----------NBC gif--------------- */
.image-container { /*will have to tinker more with grid to fix*/
    display: grid;
    align-items: right;
}

.details-img {
    margin-right: 10px;
}
/* -----------NBC gif--------------- */
/*..................................*/


/* --------------------------------- */
/* -------------Table--------------- */
.table-container {
    background-color: #ffffff;
    border: 3px solid #0aa021;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
}

.details-img {
    width: 100%;
    border: 5px solid hsl(330, 2%, 22%);
    border-radius: 5px;
}

div {
    padding-left: 50px;
}

thead {
    font-size: larger;
    color: rgb(214, 210, 210);
    padding: 10px;
    text-wrap: normal;
}

tbody tr:nth-child(even) {
    background-color: #f8a408b3;
}

tbody tr:nth-child(odd) {
    background-color: #fc09dcca;
}
/* -------------Table---------------- */
/* --------------------------------- */


/* --------------------------------- */
/* -------------Footer--------------- */
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    color: #111010;
    background-color: #ffd900b3;
    opacity: 95%;
    font-family: Griffy, cursive;
    font-weight: 250;
    font-size: smaller;
    border-top: 2px solid rgb(171, 26, 161);
}
/* -------------Footer--------------- */
/* --------------------------------- */
